<div class="container">
  <div style="margin: 100px"></div>
  <div style="margin-bottom: 20px">
    @if(!isEditing()){
    <button
      mat-raised-button
      color="primary"
      (click)="addRow()"
      aria-label="Example icon button with a home icon"
    >
      Add Item
    </button>
    } @else {
    <button
      mat-raised-button
      color="accent"
      (click)="editRow()"
      aria-label="Example icon button with a home icon"
    >
      Edit Item
    </button>
    }
    <!-- <button
      style="float: right"
      mat-raised-button
      color="accent"
      (click)="onPrint('invoice')"
      aria-label="Example icon button with a home icon"
    >
      Print Invoice
    </button> -->
  </div>
  <div class="row" [formGroup]="invoiceForm">
    <div class="p-15 col-5">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>
    <div class="p-15 col-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="cost" />
      </mat-form-field>
    </div>
    <div class="p-15 col-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="p-15 col-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="p-15 col-1">
      <button style="margin-top: 7px;float: right;" mat-mini-fab color="primary"[matMenuTriggerFor]="menu">  <mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button (click)="openDialog()" mat-menu-item>Filter</button>
        <button (click)="onPrint('invoice')" mat-menu-item>Print</button>
        <button (click)="downLoadData()" mat-menu-item><a style="text-decoration: none;color: black;" [href]="downloadJsonHref" download="invoice-data-{{today|date : 'M-d-yy'}}.json">Download Data</a>        </button>
      </mat-menu>
    </div>
  </div>
  <div style="margin: 20px"></div>
  <div class="w-100 invoice" id="invoice">
    <table class="table table-striped">
      <thead style="background-color: red">
        <tr>
          <th class="w10" style="border-top-left-radius: 5px">Sr. No</th>
          <th>Title</th>
          <th class="w10">Assigned</th>
          <th class="w10">Delivered</th>
          <th
            class="w10"
            style="border-top-right-radius: 5px; text-align: right"
          >
            Amount
          </th>
          <th class="noprint">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of rowData | dateRangeFilter: filterStartDate() :
        filterEndDate() ;let i = $index; track i) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td style="width: 50%">{{ item?.title }}</td>
          <td>{{ item?.startDate | date : "M/d/yy" }}</td>
          <td>{{ item?.endDate | date : "M/d/yy" }}</td>
          <td style="text-align: right">{{ item?.cost }}</td>
          <td class="noprint">
            <mat-icon
              style="cursor: pointer"
              (click)="enableEditing(item, i)"
              color="primary"
              >edit</mat-icon
            ><mat-icon
              style="cursor: pointer"
              (click)="deleteRow(i)"
              color="warn"
              >delete</mat-icon
            >
          </td>
        </tr>
        } @empty {
        <p>No data...</p>
        }
      </tbody>
      <tfoot>
        <tr>
          <td
            colspan="6"
            style="font-size: 180x; font-weight: 600; color: red; width: 100%"
          >
            <span style="float: right">Total: {{ getTotal() }}</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<ng-template #filterDialog>
  <div class="container" style="padding: 20px" [formGroup]="filter">
    <div class="row">
      <div class="p-15 col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="filterStart"
            formControlName="startDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="filterStart"
          ></mat-datepicker-toggle>
          <mat-datepicker #filterStart></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="p-15 col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="filterEnd"
            formControlName="endDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="filterEnd"
          ></mat-datepicker-toggle>
          <mat-datepicker #filterEnd></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div style="float: right">
        <button
          mat-raised-button
          color="warn"
          mat-dialog-close="close"
          style="margin-right: 10px"
        >
          Close
        </button>
        <button mat-raised-button mat-dialog-close="filter" color="primary">
          Filter
        </button>
      </div>
    </div>
  </div>
</ng-template>
